HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar arquivos de configuração do sistema
.bash_history
.bash_logout
.bash_profile
.bashrc
.gitconfig
.viminfo
.vimrc
.vscode/
.idea/
*.swp

# Ignorar diretórios temporários
.cache/
.config/
.docker/
.m2/
.npm/
.ssh/

# Ignorar arquivos de build e outros temporários
*.log
*.tmp

